@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
    --color-dark: var(--dark);
}

.dark {
    --dark: #1b1b1b;
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        @apply bg-dark;
        @apply text-white;
    }
}
