@import "tailwindcss";
@import "tw-animate-css";

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        @apply bg-slate-700;
        @apply text-white
    }
}
